html, body {
  background: white;
  height: 100%;
  width: 100%;
}

h2 {
  margin-left: 10px;
}

button {
  border: none;
  height: 38px;
  padding: 10px 22px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 14px;
  transition: background .5s ease;
}

.button_close {
  float: right;
  bottom: 10px;
  right: 10px;
}

.add_task {
  float: left;
  bottom: 10px;
  background: #673288;
  color: white;
}

.footer {
  margin-top: 30px;
}

.add_task:hover {
  background: #9c5dc3;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 50;
  background-color: rgba(0, 120, 201, 0.5);
}

.modal {
  background: white;
  border-radius: 5px;
  width: 400px;
  height: 200px;
  margin: auto;
  margin-top: 100px;
  padding: 30px;
}

.button_search {
  display: inline;
  background: #42afe3;
}

.button_search:hover {
  background: #9bd5f0;
}

.button_add {
  float: right;
  background: #673288;
  margin-top: 10px;
  margin-right: 20px;
  color: white;
}

.button_add:hover {
  background: #9c5dc3;
}

* {
  font-family: sans-serif;
  font-size: 12pt;
}

input {
  display: flex;
  width: auto;
  height: 20px;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 18px;
  margin: 10px;
  font-weight: 500;
}

.inp_search {
  display: inline;
}

.todo-list {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}
.todo-list ul {
  list-style: none;
  padding: 0;
  margin-right: 20px;
}
.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  background-color: #f5f5f5;
}
.todo-list li .text {
  padding: 10px 15px;
  width: 100px;
}
.todo-list li .descr {
  width: 200px;
}
.todo-list li .delete {
  border-radius: 3px;
  padding: 10px 22px;
  background: darkred;
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  transition: background .5s ease;
}
.todo-list li .delete:hover {
  background: #f10000;
}
